@page "/Administration/Users"
@attribute [StreamRendering]
<AppPageHeader Title="Users" />
@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid">
        <div class="head">User Name</div>
        <div class="head">Email</div>
        <div class="head">Email Confirmed</div>
        <div class="head">Lockout Enabled</div>
        <div class="head">Two Factor Enabled</div>
        @foreach (var user in Users)
        {
            <div>@user.UserName</div>
            <div>@user.Email</div>
            <div>@user.EmailConfirmed</div>
            <div>@user.LockoutEnabled</div>
            <div>@user.TwoFactorEnabled</div>
        }
    </div>
}

